<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="../bootstrap-5.2.0-beta1-dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../assets/css/index.css" />
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div class="navigation container-fluid">
      <ul class="container d-flex justify-content-between aligin-item-center">
        <li><img src="../assets/img/logo.png" alt="" /></li>
        <li class="active active1">TIN TỨC</li>
        <li class="active active1">GIỚI THIỆU</li>
        <li>ESPORTS</li>
        <li>HỖ TRỢ</li>
        <li class="active">TẢI GAME</li>
        <li>NẠP THẺ</li>
      </ul>
      <ul class="menu2 container-fluid">
        <div class="menu2-nav container">
          <div></div>
          <div>
            <div>TIN TỨC</div>
            <div>SỰ KIỆN</div>
            <div>TIN GAME</div>
            <div>ESPORT</div>
            <div>CỘNG ĐỒNG</div>
            <div>CẨM NANG</div>
            <div>VŨ TRỤ</div>
          </div>
          <div>
            <div>TIN TỨC</div>
            <div>SỰ KIỆN</div>
            <div>TIN GAME</div>
          </div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>  
      </ul>
      </ul>
    </div>
    </ul>
  </div>

  <div class="banner">
    <div class="banner-slide">
      <div class="banner-slide-img">
        <img class="item show " src="../assets/img/202206-29-Topup60-1220x400.jpeg" />
        <img class="item " src="../assets/img/202206-41-NhacHoiBaiBien-1220x400.jpeg" />
        <img class="item " src="../assets/img/belveth-1220x400.jpeg" />
        <img class="item " src="../assets/img/mo-ban-linh-thu-1220x400.jpg" alt="" />
      </div>
      <div class="banner-slide-btn">
        <span class="btn active "></span>
        <span class="btn "></span>
        <span class="btn "></span>
        <span class="btn "></span>
      </div>
    </div>
  </div>
  </div>
  <script src="../assets/js/index.js"></script>
</body>

</html>