
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
footer{
  background-color: #ebebeb;
  padding: 20px  0px;
  .title{
    padding-bottom: 5px;
    font-size: 17px;
    color: #2e3553;
    font-weight: 500;
    padding: 10px 15px;
    
  }
  .top{
    &-item{
      padding: 0px 15px;
    }
    &-content{
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-text{
      font-size: 14px;
      .tel{
        a{
          color: #575454;
          text-decoration: none;
        }
        a:hover{
          text-decoration: underline;
        }
      }
      div+div{
        margin-top: 5px;
      }
    }
    .line{
      border-left: 1px solid black;
    }
   
  }
  .line-footer{
    border-top: 1px solid #ccc;
    width: 100%;
  }
  .main{
    &-item{
      &-title{
        font-size: 18px;
        margin-bottom: 5px;
      }
      &-widget{
        font-size: 12px;
        padding: 6px 0px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      &-widget:hover{
        padding-left: 12px;
      }
      &-text{
        input,textarea{
          padding: 4px 0px;
          width: 100%;
          margin-bottom: 10px;
          border: none;
          border-bottom: 1px solid #ccc;
          background-color: #ebebeb;
          font-size: 12px;
          outline: none;
        }
        .btnsm{
          display: inline;
          background-color: #636060;
          color: #fff;
          padding: 6px 15px;
          font-size: 11px;
          cursor: pointer;
        }
      }

      &-social{
        margin-bottom: 25px;
        &-icon{
          margin: 0 12px 0 0;
          cursor: pointer;
        }
        &-zalo{
          width: 32px;
          height: 32px;
          background-color: #0084cb;
          border-radius: 50%;
          font-size: 14px;
          a{
            text-decoration: none;
            color: #fff;
          }
        }
      }
      &-contact{
        margin-bottom: 25px;
        img{
          width: 10px;
          margin-right: 10px;
        }
        a{
          text-decoration: none;
          font-size: 14px;
          color: #575454;
        }
        a:hover{
          text-decoration: underline;
        }
      }
      &-submit{
        img{
          width: 140px;
        }
      }
    }
  }
  .bottom{
    ul{
      list-style: none;
      li{
        font-size: 12px;
        font-weight: 400;
        a{
          text-decoration: none;
          color: #000;
        }
        a:hover{
          text-decoration: underline ;
        }
      }
      li+li::before{
        content: "";
        border-left: 1px solid rgb(0, 0, 0);
        margin: 0px 10px;
        font-size: 10px;
        color: #666;
      }
    }
  }
  
}

.license{
  background-color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 16px;

  span{
    color: #a8a8a8;
    font-weight: 100;
  }
}

