*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
footer{
  background-color: #ebebeb;
  padding: 20px ;
  .title{
    padding-bottom: 5px;
    font-size: 17px;
    color: #2e3553;
    font-weight: 500;
    
  }
  .top{
    &-item{
      padding: 0px 15px;
    }
    &-content{
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-text{
      font-size: 14px;
      div+div{
        margin-top: 5px;
      }
    }
    .line{
      border-left: 1px solid black;
    }
   
  }
  .line-footer{
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 20px 0px;
  }
}
