* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #000000;
  height: 100vh;
}
#app {
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px;
  .title {
    font-weight: 700;
    font-size: 30px;
  }
  .loadingParent {
    position: relative;
  }
  .loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-25%, -25%);
  }
  .loading:before {
    display: block;
    height: 5px;
    width: 5px;
    content: "";
    animation: spin 1s infinite;
    border-radius: 100%;
    box-shadow: 8px 0 0 2px rgb(197, 206, 197), 0 8px 0 2px rgb(218, 184, 184),
      0 -8px 0 2px rgb(233, 203, 203), -8px 0 0 2px rgb(144, 148, 144);
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .price {
    font-weight: bold;
    color: #d62929;
  }
  .listsUser {
    .tableView {
      height: 400px;
      overflow-y: scroll;
      .view {
        text-align: center;
        .item {
          cursor: pointer;
          transition: 0.2s;
        }
        .item:hover {
          background-color: rgb(89, 203, 248);
          color: rgb(0, 0, 0);
        }
      }
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #d62929;
      }
    }
  }
  .modal-edit,
  .modal-add {
    display: none;
    background-color: #ebcece;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    padding: 20px;
    z-index: 999;
    border-radius: 4px;
    transition: 1s;
    animation: 0.4s fadeIn ease-in-out forwards;
  }
  @keyframes fadeIn {
    0% {
      transform: translate(-50%, -30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  .panigation {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    button {
      margin: 0 8px;
    }
    .prev,
    .next {
      border: none;
    }
  }
}
