* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #000000;
  height: 100vh;
}
#app {
  height: 100vh;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px;
  .title {
    font-weight: 700;
    font-size: 30px;
  }

  .listsUser {
    .tableView {
      height: 400px;
      overflow-y: scroll;
      .view {
        text-align: center;
        .item {
          cursor: pointer;
          transition: 0.2s;
        }
        .item:hover {
          background-color: rgb(89, 203, 248);
          color: rgb(0, 0, 0);
        }
      }
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #d62929;
      }
    }
  }
  .modal-edit,
  .modal-add {
    display: none;
    background-color: #ebcece;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    padding: 20px;
    z-index: 999;
    border-radius: 4px;
    transition: 1s;
    animation: 0.4s fadeIn ease-in-out forwards;
  }
  @keyframes fadeIn {
    0% {
      transform: translate(-50%, -30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  .panigation {
    button {
      margin: 0 8px;
    }
    .prev,
    .next {
      border: none;
    }
  }
}
