* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// footer {
//   .services {
//     .nav {
//       .dot::before {
//         content: ".";
//         font-size: 10px;
//         color: black;
//       }
//     }
//   }
// }
