* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, "Droid Sans", sans-serif;
  font-size: 16px;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin between {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  max-width: 1220px;
}

//app
#app {
  .navigation {
    position: fixed;
    background-color: #101215;
    height: 70px;
    z-index: 999;
    ul {
      list-style: none;
      padding: 0;
      margin: auto;
      li {
        @include center();
        height: 70px;
        width: 174px;
        color: #d2b48c;
        font-weight: 600;
      }
      .active:hover {
        border-bottom: 2px solid #0bc6e3;
      }
      .active1:hover ~ .nav2 {
        display: flex;
      }
    }
    .menu2 {
      background-color: rgba(6, 28, 37, 0.9);
      &-nav {
        display: flex;
        > div {
          width: 174px;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #ffffff;
          > div {
            padding: 6px 0px;
          }
          > div:hover {
            color: #1398e6;
          }
        }
      }
    }
    ul:hover ~ .menu2,
    ul > .active:hover ~ .menu2 {
      display: block;
    }
  }
}

.banner {
  padding-top: 70px;
  &-slide {
    background-image: url(../img/blurred1.jpeg);
    height: 520px;
    @include between();
    &-img {
      width: 1220px;
      height: 400px;
      overflow: hidden;
      margin-top: 20px;
      .item {
        display: none;
      }
      .show {
        display: block;
      }
    }
    &-btn {
      .active {
        background-color: red;
      }
      span {
        margin: 0px 4px;
        font-size: 0;
        padding: 6px 6px;
        background-color: #d2b48c;
        border-radius: 50%;
      }
    }
  }
}
