* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .form-input {
        background-color: #f5f5dd;
        padding: 20px;
    }
    div {
        margin: 8px 0px;
    }
}